<h1>SKIFT Open, Ju-Jutsu SM 2013</h1>
<br />
<div class="span10">
    <p>
    Lördagen den 13 april anordnar norrorts största kampidrottsförening SKIFT den sjätte deltävlingen i Ju-Jutsu Fighting League.
    I samband med detta anordnas även <b>Svenska Mästerskapen</b> i Ju-Jutsu för seniorer.
    </p>
    <br/>

    <h2>Anmälan</h2>
    <p>
    <%= link_to "Anmäl dig", new_registration_path %> senast den 1/4. Anmälningsavgiften på 350 kronor (seniorer) och 150 kronor (juniorer)
      ska betalas in på BG 459-9957, märk din betalning med ditt namn och klubb.
    </p>
    <br />

    <h2>Schema</h2>
    <p> Invägning fredag 12/4 1900-2100 i SKIFT:s dojo på Lindvägen 16, ingen bastu finns.</p>
      <p>Eller i tävlingslokalen på lördagen 13/4 kl 0730-0830, där bastu finns.</p>
      <p>En extra invägning för seniorer kommer att hållas klockan 1100-1200 på lördagen 13/4, i tävlingslokalen.
    </p>
    <p>
      Preliminärt sker barntävlingen på förmiddagen och seniortävlingen, inklusive SM på eftermiddagen.
    </p>
    <br />

    <h2>Tävlingslokal</h2>
    <p>Tävlingslokalen är Sollentuna Simhall.</p>
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=sollentuna+simhall,+sollentuna&amp;aq=&amp;sll=59.421822,17.93982&amp;sspn=0.055452,0.161705&amp;ie=UTF8&amp;hq=sollentuna+simhall,&amp;hnear=Sollentuna,+Sweden&amp;ll=59.442902,17.952419&amp;spn=0.006927,0.020213&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=8041140029822281058&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=sollentuna+simhall,+sollentuna&amp;aq=&amp;sll=59.421822,17.93982&amp;sspn=0.055452,0.161705&amp;ie=UTF8&amp;hq=sollentuna+simhall,&amp;hnear=Sollentuna,+Sweden&amp;ll=59.442902,17.952419&amp;spn=0.006927,0.020213&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=8041140029822281058" style="color:#0000FF;text-align:left">View Larger Map</a></small>
    <br />
    <br />

    <h2>Boende</h2>
    <p>
      Boende bokas på <a href="http://www.scandichotels.com/Hotels/Countries/Sweden/Stockholm/Hotels/Scandic-Star-Sollentuna/">Scandic Star Hotel Sollentuna</a>.
      Det går även att sova i SKIFT:s dojo.
    </p>
</div>