<h1>Registrerade spelare</h1>

<p>
  Vi reserverar oss rätten att slå ihop viktlasser vid för få anmälda.
  I ungdomsklasserna kan pojk- och flickklasser slås ihop.
</p>
<p>
  De tävlande blir tillfrågade innan en hopslagning av vikt- eller könsklasser sker.
  Vid osäkerhet, kontakta tävlingsledningen (<a href="mailto:skiftopen@gmail.com">skiftopen@gmail.com</a>)
</p>
<% if @seniors.length > 0 %>
<% old_wcid = nil %>
<div class="span5">
<h2>Seniorer</h2>
<% @seniors.each do |r| %>

    <% if old_wcid != r.weight_class_id %>
        <% unless old_wcid.nil? %>
          <br />
        <% end %>
        <% wc = @weight_classes[r.weight_class_id] %>
        <% old_wcid = wc.id %>
    <h2><%= "%s" % [wc.name] %></h2>
    <% end %>

      <%= render :partial => "registrations/registration", :locals => {:registration => r} %>

<% end %>
</div>
<% end %>
<% if @juniors.length > 0 %>
    <div class="span5">
        <h2>Juniorer</h2>
        <% @juniors.each do |r| %>

            <% if old_wcid != r.weight_class_id %>
                <% wc = @weight_classes[r.weight_class_id] %>
                <% old_wcid = wc.id %>
            <h2><%= "%s - %s: %s" % [wc.age, raw(wc.gender), wc.weight] %></h2>
            <% end %>

          <%= render :partial => "registrations/registration", :locals => {:registration => r} %>

        <% end %>
    </div>

<% end %>
