
<h1>Anmälan!</h1>

<p>Vid anmälan i fler än en viktklass görs flera separata anmälningar av samma spelare.</p>

<p>
  Vi reserverar oss rätten att slå ihop viktlasser vid för få anmälda.
  I ungdomsklasserna kan pojk- och flickklasser slås ihop.
</p>
<p>
  De tävlande blir tillfrågade innan en hopslagning av vikt- eller könsklasser sker.
  Vid osäkerhet, kontakta tävlingsledningen (<a href="mailto:skiftopen@gmail.com">skiftopen@gmail.com</a>).
</p>

<%= render 'form' %>

