<h1>Resultat</h1>

<h2>JSM - pojkar: -66 kg</h2>
<pre>
Patrik Andert, Eskilstuna Budoklubb/Team Dynamix 	1:A
Henrik Larsson-Sevon, SKIFT 	2:A
Jesper Ferm, SKIFT/Team Dynamix 	3:A
Mathias Tengstrand, SKIFT Sollentuna 
Rasmus Nolbratt, Nacka Dojo/Team Dynamix 
Zacharias Sköld, Nacka Dojo/Team Dynamix 
</pre>

<h2>JSM - pojkar: +81 kg</h2>
<pre>
Thom Zäll Skov, Gävle Ju-justu 	1:A
Adam Karlsson, Köping Martial Arts, 	2:A
Albin Lindqvist, Örnsköldsviks Ju-Jutsu Club 	3:A
William Seth-Wenzel, Nacka Dojo/Team Dynamix 
</pre>

<h2>SM, duo mix</h2>
<pre>
Malin Persson / Maria Eriksson, Göteborgs ju-jutsuklubb 	1:A
Caroline Järdmo/John Gustavsson, Göteborgs ju-jutsuklubb / BK Shindo 	2:A
</pre>

<h2>Kvinnor, SM, -55 kg</h2>
<pre>
Emilie Ramqvist, SKIFT Sollentuna 	1:A
Tove Widén, Göteborgs ju-jutsuklubb 	2:A
Nora Ängebrandt, Örnsköldsviks Ju-Jutsu Club 	3:A
</pre>


<h2>Män, SM, -62 kg</h2>
<pre>
Karl Dahlgren, IKSU kampsport / Team Dynamix 	1:A
Jesper Ferm, SKIFT/Team Dynamix 	2:A
Claes Gåse, Dynamix Köping 	3:A
</pre>

<h2>Män, SM, -69 kg</h2>
<pre>
Christoffer Druvgården, JJK Samurai 	1:A
Karl Dahlgren, IKSU kampsport / Team Dynamix 	2:A
Alex Ferm, SKIFT/Team Dynamix 	3:A
Adam Billger, BK Shindo 
Claes Gåse, Dynamix Köping 
Joakim Flink, Köping Martial Arts 
Jonatan Eriksson, Linköpings Budoklubb 
jonathan olsson, SKIFT 
Patrik Andert, Eskilstuna Budoklubb/Team Dynamix 
Robin Florbrant, SKIFT Sollentuna 
</pre>

<h2>Män, SM, -77 kg</h2>
<pre>
Fredrik Widgren, Nacka Dojo/Team Dynamix 	1:A
Joakim Wallberg, Nacka Dojo/Team Dynamix 	2:A
Arvid Alm, IKSU kampsport / Team Dynamix 	3:A
Jonatan Dagnå, SKIFT/Team Dynamix 
</pre>

<h2>Män, SM, -85 kg</h2>
<pre>
Anton Villberg, Nacka Dojo/Team Dynamix 	1:A
Viktor Samuelsson, Linköpings BudoLinköping	2:A
Thomas Gustavsson, Växjö Ju-Jutsuklubb/Team Dynamix 	3:A
Jonas Kaipio, Köping Martial Art 
Simon Johnson, Örnsköldsviks Ju-Jutsu Club 
</pre>

<h2>Män, SM, -94 kg</h2>
<pre>
Lars Karlsson, Linköpings Budoklubb 	1:A
Johan Carlsson, Köping Martial Arts 	2:A
Kent Palmqvist, Kumla Kampsportsförening 	3:A
</pre>

<h2>Män, Nybörjare, -69 kg</h2>
<pre>
Andreas Elfving, IKSU kampsport / Team Dynamix 	1:A
Erik Edding, Varberg KF 	2:A
Fredrik Johansson, IKSU kampsport / Team Dynamix 	3:A
Adam Andersson, Linköpings Budoklubb 
Rickard Göransson, SKIFT Sollentuna 
</pre>

<h2>Kvinnor, Nybörjare, -70 kg</h2>
<pre>
Jennifer Ulfves, Köping Martial Art 	1:A
Alice Sundström, IKSU kampsport / Team Dynamix 	2:A
Sandra Göranson, Köping martial art 	3:A
Amanda Fjällberg, IKSU kampsport / Team Dynamix 
Anne-Louise Buhr, Örnsköldsviks Ju-Jutsu Club 
Cecilia King, Dynamix Köping 
Julia Jonsson, IKSU kampsport / Team Dynamix 
Lily Li, IKSU kampsport / Team Dynamix 
Pia Ahokas, Iksu kampsport/ Team Dynamix 
Sanna Johansson, Växjö Jujutsuklubb 
Therese Evertsson, Västerås Ju-jutsuklub
</pre>


<h2>Män, Nybörjare, -77 kg</h2>
<pre>
Arman Mkrtchyan, Jönköping Ju-Jutsu Ryu 	1:A
Amir AminiNaji, IKSU kampsport / Team Dynamix 	2:A
Joakim Westman, Dynamix Köping 	3:A
Björn Johansson, JJK Samurai 
</pre>

<h2>Män, Nybörjare, -85 kg</h2>
<pre>
Thom Zäll Skov, Gävle Ju-justu 	1:A
Arman Mkrtchyan, Jönköping Ju-Jutsu Ryu 	2:A
Niklas Lindström, IKSU kampsport / Team Dynamix 	3:A
Johan Segertoft, Linköpings Budoklubb 	4:A
</pre>



<h2>U10 flickor -32</h2>
<pre>
Natalie Åkesson, Varberg KF 	1:A
Frida Leine, Nacka Dojo 	2:A
Selma Lilja, SKIFT Sollentuna 	3:A
Cornelia Gustavsson, SKIFT Sollentuna 
Julia Mraz, Kraftverket 
Minna Klingemo, Nacka Dojo 
</pre>

<h2>U10 pojkar -42</h2>
<pre>
Ella Jakobsen, Kumla Kampsportsförening 	1:A
Hugo Bygdeson, SKIFT / Team Dynamix 	2:A
William Garell, Nacka Dojo 	3:A
Samuel Kostic, Kraftverket 	4:A
Tim Bergendahl, Nacka Dojo 
</pre>

<h2>U10 - pojkar: -27 kg</h2>
<pre>
Sam Olsson, Nacka Dojo 	1:A
Rasmus Bäck, JJR Wernamo 	2:A
Victor Brennan, SKIFT / Team Dynamix 	3:A
Carl-Oskar Bengtsson, Karlstad Kampsportförening 
Elliot Rudolph, SKIFT Sollentuna 
Hugo Hellsten, Örnsköldsviks Ju-Jutsu Club 
Liam Mäkelä, Skift/ Team Dynamix 
Rasmus Nielsen, SKIFT Sollentuna 
Theo Rudolph, SKIFT/Team Dynamix 
Wiggo Sjöberg, NJS/Jujutsu Ryu 
</pre>

<h2>U10 - pojkar: -34 kg</h2>
<pre>
Marlon Tajik, Minami Budokai 	1:A
Tobias Wicklander, Köping Martial Arts, 	2:A
Casper Rosendahl, Köping Martial Art 	3:A
Alexander Lind, SKIFT Sollentuna 
Isak Lund , Karlstad Kampsportförening 
Victor Bäckström, Nacka Dojo 
Victor Henke, SKIFT Sollentuna 
</pre>

<h2>U10 - pojkar: -38 kg</h2>
<pre>
Hugo Bygdeson, Skift/ Team Dynamix 	1:A
Peter Gidlöf, Kumla Kampsportsförening 	2:A
Axel ter Vehn, Nacka Dojo 	3:A
Adam Wirth, SKIFT Sollentuna 
Jonathan Sköld, Kumla Kampsportsförening 
Viggo Persson, Kumla Kampsportsförening 
</pre>

<h2>U12 - flickor: -36 kg</h2>
<pre>
Josefine Hedlund, Gävle Ju-justu 	1:A
Emilia Leiderman, Nacka Dojo 	2:A
Isabelle Hellsten, Örnsköldsviks Ju-Jutsu Club 	3:A
Michelle Sjöström, Örnsköldsviks Ju-Jutsu Club 
</pre>

<h2>U12 - flickor: -40 kg</h2>
<pre>
Ella Jakobsen, Kumla Kampsportsförening 	1:A
Aurora Eijvall, Nacka Dojo/Team Dynamix 	2:A
Klara Nilsson, Kumla Kampsportsförening 	3:A
Felicia Morsing, Dynamix Köping 
Madelene Örtenmark, Nacka Dojo/Team Dynamix 
</pre>

<h2>U12 - flickor: +48 kg</h2>
<pre>
Hanna Larsson, Gävle Ju-justu 	1:A
LaTanya Sjöström, Örnsköldsviks Ju-Jutsu Club 	2:A
Johanna Ulfves, Köping Martial Art 	3:A
Nelly Fagerkvist, Nacka Dojo/Team Dynamix
</pre>

<h2>U12 - pojkar: -42 kg</h2>
<pre>
Ludvig Trotzig, JJR Wernamo 	1:A
Axel Jakobsen, Kumla Kampsportsförening 	2:A
Eskil Zackrisson, KMA 	3:A
Alex Buijs, Kraftverket 
Alex Höök, KMA 
Axel Bolin, Dynamix Köping 
Jesper Sjöberg, NJS/Jujutsu Ryu 
Kasper Bäck, JJR Wernamo 
Kevin Gustavsson, SKIFT Sollentuna 
</pre>

<h2>U12 - pojkar: +50 kg</h2>
<pre>
Kevin Christoforidis, JJR Wernamo 	1:A
Fabian Byléhn, SKIFT Sollentuna 	2:A
Elis Persson, Kumla Kampsportsförening 	3:A
Antonio Zayed, Kumla Kampsportsförening 
Mike Leon Medina, Köping Martial Art 
</pre>

<h2>U15 - flickor: -52 kg</h2>
<pre>
Wilma Wallberg, Nacka Dojo/Team Dynamix 	1:A
Astrid Rubenson, SKIFT Sollentuna 	2:A
Fanny Seth-Wenzel, Nacka Dojo/Team Dynamix 
</pre>

<h2>U15 - flickor: -57 kg</h2>
<pre>
Fanny Seth-Wenzel, Nacka Dojo/Team Dynamix 	1:A
Wilma Wallberg, Nacka Dojo/Team Dynamix 	2:A
Alice Högberg, BK Shindo 	3:A
Joanna Prodromou, NJS/Jujutsu Ryu 
</pre>

<h2>U15 - pojkar: -41 kg</h2>
<pre>
Dennis Bill, Skift/ Team Dynamix 	1:A
August Freij, SKIFT 	2:a
Casper von Walden, Dynamix Köping 	3:A
Axel Bolin, Dynamix Köping 
Jesper Berger, Kumla Kampsportsförening 
Rasmus Leine, Nacka Dojo 
</pre>

<h2>U15 - pojkar: -55 kg</h2>
<pre>
Sebastian Falk, Göteborgs ju-jutsuklubb 	1:A
Samuel Lerjestad, SKIFT Sollentuna 	2:A
Arvid Westerberg, Dynamix Köping 	3:A
</pre>

<h2>U15 - pojkar: -60 kg</h2>
<pre>
Emil Palmqvist, Nacka Dojo/Team Dynamix 	1:A
André Högberg, BK Shindo 	2:A
Sid Ros, Nacka Dojo/Dynamix 	3:A
David Jacobsson, Nacka Dojo/Team Dynamix 
Dennis Norrgård, Jönköping Ju-Jutsu Ryu 
Karl Pegers, Kumla Kampsportsförening 
Rasmus Ericsson, Dynamix Köping 
</pre>

<h2>U15 - pojkar: +66 kg</h2>
<pre>
Magnus Al khouri, Ljungby jujutsu ryu 	1:A
Tim Nilsson, NJS/Jujutsu Ryu 	2:A
Filip Melberg, KMA 	3:A
Isaac Andersson, Ljungby jujutsu & budoklubb 
magnus alkhouri, Ljungby jujutsu & budoklubb 
Theo Johnsen, Karlstad Kampsportförening 
</pre>